@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="C:\Users\souvikkhan\source\repos\MVC_Assignment_2\MVC_Assignment.Web\Views\Home\Index.cshtml">C:\Users\souvikkhan\source\repos\MVC_Assignment_2\MVC_Assignment.Web\Views\Home\Index.cshtml</a>